*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  text-wrap: pretty;
}
p, h1, h2, h3, h4, h5, h6{
  overflow-wrap: break-word;
}
body {
  background-color: rgb(247, 253, 252);
  height: 100%;
  max-width: 100vw;
  font-family: 'Lato', 'inter', 'Sofia' sans-serif;
  /* font-family: Brown, sans-serif; */
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.container .individual {
  height: 275px;
  flex: 1;
}
.container .individual .logo {
  width: 77.33px;
  height: 80px;
  margin-top: 15rem;
  margin-left: 8rem;
}
.container .individual h1 {
  font-family: Sofia Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.800000011920929px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 268px;
  height: 50px;
  margin-top: 2rem;
  margin-left: 8rem;
}
.container .individual p {
  width: 460px;
  height: 75px;
  margin-top: 2rem;
  margin-left: 8rem;
  font-family: Sofia Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.container .register-form {
  position: relative;
  width: 630px;
  /* height: 630px; */
  margin-right: 8rem;
  margin-left: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0px 4px 50px 0px #040813 !important;
  padding: 2rem;
}



/* Desk top view here */

.individual-mobile{
  display: none;
}
footer{
  display: none;
}


.register-form .row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.input-box label {
  font-family: Sofia Sans;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 2rem !important;
  padding-bottom: 2rem !important;


}
select {
  width: 100%;
  border: 0.1px solid grey;
  height: 48px;
  border-radius: 2px;
  outline: none;
  margin-top: 0.5rem;
}

input[type='text'],
input[type='date'],
input[type='password'] {
  width: 100%;
  height: 48px;
  margin-top: 0.5rem;

border-radius: 2px;
 border: 0.1px solid grey;
opacity: 0.06px;
border-radius: 2px;
outline: none;
}

.input-box
 {
  flex: 1;
  margin-bottom: 1.5rem;
  
}

button {
  box-shadow: 0px 10px 40px 0px #0000001a;

  background: #2ec4b6;
  height: 48px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  font-family: Sofia Sans;
  font-size: 1rem;
  line-height: 16px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-size: 600;
  margin-bottom: 1rem;
  border: unset;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
 
}

button:hover{
  background: green;
}

.terms-mobile {
  width: 400px;
  font-family: Sofia Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.terms a{
font-family: Sofia Sans;
font-size: 14px;
font-weight: 500;
line-height: 25px;
text-align: left;
text-decoration-line: underline;
text-decoration-style: solid;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #2EC4B6;


}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
select option:first-child,
::-webkit-datetime-edit-text {
  color: #666;
  font-size: 16px;
  font-weight: bold;
}
#dob{
  padding-left: 0.3rem;
}

.terms-desktop{
  text-align: center;
}






@media screen and (max-width: 1100px) {
  .register-form .row {
    display: flex;
    flex-direction: column;
   
  }
.input-box{
  margin-bottom: 0;
}

.register-form .form{

 margin-top: -1rem;
}

input[type='text'],
input[type='date'],
input[type='password']{
 height: 34px;
 margin: 0.5rem 0;
}
select{
  height: 34px;
}
button{
 margin-top: 1rem;
 height: 34px;
}
.container .individual{
  display: none;
}
.register-form{
 margin: 0 auto;
 position: fixed;
 top: 0;
 left: 6%;
 /* border: 1px solid red; */
 box-shadow: unset !important;
}
body{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
  height: 100vh;
 
}
.individual-mobile{
  display: grid;
  place-items: center;
}
.individual-mobile img{
  position: relative;
  left: -9rem;
  width: 50px;
  align-items: flex-start;
  margin-top: 1.5rem;

}
.individual-mobile h1{
  position: relative;
  left: -4.9rem;
  font-size: 1.5rem;
  /* border: 1px solid red; */
  text-align: left;
  margin-top: 1.5rem;
}
.individual-mobile p{
  position: relative;
  left: 4.3rem;
  font-family: Brown;
  max-width: 460px;
  font-size: 20px;
  font-weight: 400;
  opacity: 0.5;
  margin-top: 1.5rem;
  text-align: justify;
}
header{
  width: 600px;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  justify-self: center;
  /* border: 1px solid red; */
}
footer{
  display: block;
  margin-top: rem;
}


input[type='text'],
input[type='date'],
input[type='password']{
  margin-bottom: unset;
  padding-bottom: unset;
}

select{
margin-bottom: unset;
padding-bottom: unset;
} 
.input-box{
  margin-bottom: unset;
  padding-bottom: unset;
  margin-bottom: 0.5rem;
}
.input-box label{
  margin-top: 2rem;
}
.container .register-form{
margin-top: 1rem ;
/* height: 800px; */
width: 455px;
}
.terms-desktop{
  display: none;
}
input[type='text'], 
input[type='date'], 
input[type='password'],
select{
  height: 45px;
}
input[type='text']:first-child{
  margin-bottom: -4rem !important;
}

select:not(:first-child){
margin-bottom: 0.5rem;
}
select:nth-of-type(1){
margin-bottom: -0.5rem;
}
input[type="date"]{
  margin-bottom: -1rem;
}
#select{
  margin-bottom:  1rem;
}
button{
  height: 45px;
}
.register-form .row{
  margin-bottom: 0.5rem;
}

#password{
  padding-left: 0.5rem;
}
}



/* input[type="password"]::placeholder{
  padding-left: 33.9rem;
  cursor: pointer;
  display: flex;
} */


  .show {
    position: relative;
    top: 5%
  }

  input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
  }

  button.show {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 18px;
  }
 








